#user-table {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

#user-header {
  color: #ff4411; 
  font-size: 48px; 
  font-family: 'Signika', sans-serif;
}

#view-users-portfolio {
  background-color: #48b148; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
}