#table {
  margin-top: 100px;
  margin-bottom: 500px;
  margin-right: 200px;
  margin-left: 100px;
}

#user-header {
  font-size: 32px; 
  font-family: 'Signika', sans-serif;
  text-align: center;

}

#view-users-portfolio {
  background-color: #48b148; 
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  margin:auto;
  display:block;

}
#User-Submit{
  margin: auto;
  width: 50%;
  padding: 100px;
  color: black
}

#Main-header{
  text-align: center;
}

